<% include partials/header %>
<div class="big-banner">
    <h1>Welcome to BlOgGeR</h1>
<br>


<h2>SORRY PAGE UNDER CONSTRUCTION!!!!!!!!!</h2>


<a href="/blogs"><button>view all blogs</button> </a>
    
</div>


<% include partials/footer %>
